@keyframes gradientShift {
  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes ping {
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.colored-title {
  background: linear-gradient(90deg, #4b9adb 10%, #7c6ee6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.step {
  transition: background-color 3s, border-color 3s;
}

.animate-bounce {
  animation: bounce 2s ease-in-out infinite;
}

.animate-ping-custom {
  animation: ping 3s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.animate-ping-custom2 {
  animation: ping 2.5s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.animated-gradient {
  background-size: 200% 200%;
  animation: gradientShift 8s ease infinite;
}

.animated-text-gradient {
  background-size: 200% 200%;
  animation: gradientShift 8s ease infinite;
}

.header-scrolled {
  background-color: rgb(104, 91, 249) !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
}

#main-header {
  transition: background-color 0.3s, box-shadow 0.3s;
}
.card-container {
  min-height: 400px; /* Base minimum height */
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: inherit;
}

/* Enhanced card styling for equal heights */
.card-container {
  min-height: 400px; /* Minimum height for all screen sizes */
}
.card-body h3 {
  margin-bottom: 3rem; /* Space between title and icon */
}

/* Responsive heights for different screen sizes */
@media (max-width: 768px) {
  .card-container {
    min-height: 400px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .card-container {
    min-height: 460px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .card-container {
    min-height: 480px;
  }
}

@media (min-width: 1441px) {
  .card-container {
    min-height: 400px;
  }
}

.card-header {
  flex-shrink: 0;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-footer {
  flex-shrink: 0;
  margin-top: auto;
}
